doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    title My App
    // Path to your custom app styles
    link(rel="stylesheet", href="css/#{name}.css")
  body
    // Status bar overlay for fullscreen mode
    .panel-overlay
    .panel.panel-left.panel-reveal
                    
    // Views
    .views
        // Your main view, should have "view-main" class
        .view.view-main
            // Top Navbar
            //.navbar
            //    .navbar-inner
            //        // We have home navbar without left link
            //        .right.sliding
            //            a.open-panel.link.icon-only
            //                i.icon.icon-bars
            // Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes
            .pages
                // Page, data-page contains page name
                .page(data-page="index")
                    // Scrollable page content
                    #map.animated(style='background-image:url(http://maps.googleapis.com/maps/api/staticmap?center=-23.5934134,-46.6197981&size=600x600&zoom=16&markers=color:red|label:p|-23.5934134,-46.6197981&scale=2)')
                    .page-content
                        .cards-container
                            .card.stop
                                .card-content
                                    .card-header.no-border.color-white(valign="bottom", style='background-image:url(http://maps.googleapis.com/maps/api/staticmap?center=-23.485653,-46.71567&size=300x150&zoom=16&markers=color:blue|label:p|-23.485653,-46.71567&scale=2)') TERMINAL PIRITUBA
                            .card
                                .card-content
                                    .card-header VARGEM GRANDE
                                    .card-content
                                        .list-block.media-list
                                            ul
                                                li
                                                    a.item-link.item-content
                                                        .item-media
                                                            img
                                                        .item-inner
                                                            .item-title-row
                                                                .item-title 61160
                                                            .item-subtitle Chegada em 5 minutos  
                                                li
                                                    a.item-link.item-content
                                                        .item-media
                                                            img
                                                        .item-inner
                                                            .item-title-row
                                                                .item-title 61176
                                                            .item-subtitle Chegada em 7 minutos  
                                    .card-footer.color-gray 695Y-10

                            .card
                                .card-content
                                    .card-header TERM. PARELHEIROS
                                    .card-content
                                        .list-block.media-list
                                            ul
                                                li
                                                    a.item-link.item-content
                                                        .item-media
                                                            img
                                                        .item-inner
                                                            .item-title-row
                                                                .item-title 61160
                                                            .item-subtitle Chegada em 5 minutos  
                                                li
                                                    a.item-link.item-content
                                                        .item-media
                                                            img
                                                        .item-inner
                                                            .item-title-row
                                                                .item-title 61176
                                                            .item-subtitle Chegada em 7 minutos  
                                    .card-footer.color-gray 695Y-10

                            .card
                                .card-content
                                    .card-header TERM. PARELHEIROS
                                    .card-content
                                        .list-block.media-list
                                            ul
                                                li
                                                    a.item-link.item-content
                                                        .item-media
                                                            img
                                                        .item-inner
                                                            .item-title-row
                                                                .item-title 61160
                                                            .item-subtitle Chegada em 5 minutos  
                                                li
                                                    a.item-link.item-content
                                                        .item-media
                                                            img
                                                        .item-inner
                                                            .item-title-row
                                                                .item-title 61176
                                                            .item-subtitle Chegada em 7 minutos  
                                    .card-footer.color-gray 695Y-10

    // Path to Framework7 Library JS
    // Path to your app js
    script(type="text/javascript", src="js/#{name}.js")
    script(type="text/javascript", src="cordova.js")