doctype
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        title My App
        // Path to your custom app styles
        link(rel="stylesheet", href="css/#{name}.css")
    body
        .statusbar-overlay
        .panel-overlay
        .panel.panel-left.panel-reveal.layout-dark
            .list-block
                ul
                    li
                        a(href='index.html').item-content.item-link.close-panel
                            .item-inner
                                .item-title Menu Link
        .views
            .view.view-main
                .navbar
                    .navbar-inner
                        .left
                            a(href='#').link.icon-only.open-panel
                                i.icon.icon-bars
                        .center.sliding
                           = title
                        .right
                .pages.navbar-through
                    .page(data-page="index")
                        .page-content
                            .content-block
                                p Content
                                a(href="about.html") About app

        // Path to Framework7 Library JS
        // Path to your app js
        script(type="text/javascript", src="cordova.js")
        script(type="text/javascript", src="js/framework7.min.js")
        script(type="text/javascript", src="js/#{name}.js")
